<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" type="image/png" href="/docs/favicon.png" />
    <link rel="apple-touch-icon" href="/docs/favicon.png" />
    <.live_title default="Documentation" suffix=" · Once">
      {assigns[:page_title]}
    </.live_title>
    <meta name="description" content="Once documentation." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={assigns[:page_title] || "Once Documentation"} />
    <meta property="og:description" content="Once documentation." />
    <meta :if={assigns[:head_image]} property="og:image" content={@head_image} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={assigns[:page_title] || "Once Documentation"} />
    <meta :if={assigns[:head_image]} name="twitter:image" content={@head_image} />
    <link rel="stylesheet" href={~p"/docs/assets/bundle.css"} />
    <script defer type="text/javascript" src={~p"/docs/assets/bundle.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
