[[elixir.library]]
name = "{{library_name}}"
srcs = ["lib/{{library_name}}.ex"]

[[elixir.binary]]
name = "{{binary_name}}"
srcs = ["lib/{{binary_name}}.ex"]
deps = ["{{library_name}}"]
entry = "{{entry_module}}"
