---
layout: layouts/base.njk
---

{% from "partials/icons.njk" import icon %}

<article class="once-page">
  <div class="once-container">
    <div class="once-post-body">
      <a href="/blog/" class="once-back-link">
        {{ icon("arrow-left", 14) }}
        {{ copy.blog.backToAll }}
      </a>

      <header class="once-post-header">
        <time datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>
        <h1>{{ title }}</h1>
        {% if description %}
          <p data-part="description">{{ description }}</p>
        {% endif %}
        {% if author %}
          <p data-part="byline">{{ copy.blog.authorPrefix }} {{ author }}</p>
        {% endif %}
      </header>

      <div class="once-prose">
        {{ content | safe }}
      </div>
    </div>
  </div>
</article>
